{% extends 'base.html' %}
{% block content %}
    <h2>Sida för inloggade användare</h2>

        Write a message:
            <form method="post" action="/append">
                <textarea id="text" name="line" rows="4" cols="50" placeholder="Skriv något"></textarea>
                <input type="submit" value="Spara">
            </form>
    </p>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
        }
    </style>
    <p>Tidigare meddelanden:
            <table>
        <tr>
            <th>Skriven av</th>
            <th>Meddelande</th>
            <th>Tid</th>
        </tr>
{% for post in posts %}
        <tr>
            <td>{{ post[1] }}</td>
            <td>{{ post[2] }}</td>
            <td>{{ post[3] }}</td>
        </tr>
{% endfor %}
    </table>
    </p>
    <p><a href="/login">Tillbaka till startsidan</a></p>
    <p><a href="/logout">Log out</a></p>
{% endblock %}
